@import "~normalize.css";
@import url("https://fonts.googleapis.com/css?family=Contrail+One&display=swap");

* {
  box-sizing: border-box;
}

.colorshift {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: 2px;
  text-align: center;
  color: #f35626;
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 10s infinite linear;
}

.App {
  padding-top: 30px;
  text-align: center;
}



html {
  background-image: url("https://www.xmple.com/wallpaper/black-purple-gradient-linear-1920x1080-c2-000000-4b0082-a-150-f-14.svg");
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 10px;
}

h1 {
  font-weight: 200;
  font-size: 4rem;
  margin: 20px;
  color: rgb(255, 255, 255);
}

h2 {
  color: white;
  font-size: 1.3rem;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.moviecard {
  
  border: solid 2px rgb(26, 26, 26);

  background-color: white;
  border-radius: 5px;
  max-height: 300px;
  text-align: center;
  padding: 5px;

  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 6px 8px 8px 2px black;
  cursor: pointer;
}

.moviecard:hover {
  max-height: 300px;
  border: solid 2px rgb(0, 217, 255);
}

.image {
  max-width: 100px;
}

.movie-container {
  display: grid;
  grid-template-columns: 250px 250px 250px 250px;
  grid-gap: 10px;
  
}


/* --------------------------------------------Animations */

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}
